$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.maindiv {
  border: 1px solid blue;
  width: 100%;
}

.col {
  border: 1px dotted black;
}
