$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  height: 100vh;
  padding: 10em;
}

.maindiv {
  width: 100%;
  padding: 10px;
  align-self: center;
}

.space {
  border: 1px solid black;
  width: 33%;
  padding-bottom: 10%;
}

.col button {
  width: 100%;
  padding-bottom: 50%;
  align-self: center;
}
